<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LoginUsername" value="US170928" />
    <add key="LoginPassword" value="" />
    <add key="Datasource" value="OBSERVER" />
    <add key="ServiceUrl" value="https://obadm.ufpi.com/justin/service.asmx" />
  </appSettings>
</configuration>